# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data (temporarily?)
data/*
temp_cache/*

# Site output
analysis/_site/*
analysis/site_libs/*

# Targets stuff
_targets

# knitr and caching stuff
*/*_files/*
*/*_cache/*
analysis/cache/*

# Manuscript output
manuscript/*.log
manuscript/output/*.docx
manuscript/output/*.html
manuscript/output/*.pdf
manuscript/output/*.tex
manuscript/output/figures/*
manuscript/pandoc/bin/vc*

# Other folders
admin/*
manuscript/submissions/*
analysis/• sandbox/*

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
